/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.header {
  text-align: center;
  color: #FAFAFA;
  border-bottom: black 5px solid;
  font-size: .6em;
  background-color: rgb(105, 10, 10);
  
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 10%;
  flex-wrap: wrap;
  
}

.header-welcome {
  
}

.number {
  display: flex;
  gap: 30px;
}

.nav-container {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #FAFAFA;
display: flex;
 height: 80px;
border-bottom: gray 4px solid;
}

ul{
  display: flex;
  list-style-type: none;
  margin-right: 20px
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.footer {
background-color: rgb(250, 250, 250);
}

.footer-inner {
  width: 100%;
  border: 20px solid lightgray;
 display: flex;
  text-align: center;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.efi, .price, .location {
  border: 5px solid darkolivegreen;
  border-radius: 2em;
  padding: 20px;
 width: 400px;
 font-size: 1.2em;
}

.about-section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 position: relative;
 border: 20px solid lightgray;
 width: 100%;
 height: 100%;
}

.about-homepage {
  width: 100%;
  padding: 20px;
}

.about-link {
  background-color: blue;
  width: 100%;
  height: 280px;
  text-align: center;
  padding-top: 110px;
}

.about-link button {
 
}



/*About Page*/
.border {
  border: 20px solid lightgray;
  min-height: 800px;
}

.page-wrap {
 margin-top: 150px;
 display: flex;
 justify-content: center;
 gap: 40px; 
}

.page-wrap img {
  margin-right: 80px;
 float: left;
 width: 400px;
 margin-left: 5%;
 border: 10px solid darkolivegreen;
 border-radius: 1.5em;
}

.text {
width: 600px;
}

.family {

}

.about-wrap {
position:absolute;
width: 100%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 70%;
text-align: center;
}

/* media breakpoints */
@media (max-width: 450px) {
  .bg-image {
    background-size: cover;
    -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  }

   .contact {
    transform: scaleX(-1); /* Reverse the flip for the contact div */
    left: 50%;
    top: 25%;
    
  }

  .container {
    position: sticky;
  }

}
